<a href="https://colab.research.google.com/github/sitarasheikh/assignment_6/blob/main/assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Using self

In [1]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}")
        print(f"Marks: {self.marks}")

# Example
student1 = Student("Ali", 85)
student1.display()

Name: Ali
Marks: 85

2. Using cls

In [2]:
class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

    @classmethod
    def display_count(cls):
        print(f"Total objects created: {cls.count}")

# Example usage
c1 = Counter()
c2 = Counter()
c3 = Counter()
Counter.display_count()

Total objects created: 3

3. Public Variables and Methods

In [21]:
class Car:
    def __init__(self, brand):
        self.brand = brand

    def start(self):
        print(f"{self.brand} car is starting...")

# Example usage
my_car = Car("Toyota")
print(my_car.brand)
my_car.start()

Toyota
Toyota car is starting...


4. Class Variables and Class Methods

In [19]:
class Bank:
    bank_name = "ABC Bank"

    def __init__(self, account_holder):
        self.account_holder = account_holder

    @classmethod
    def change_bank_name(cls, name):
        cls.bank_name = name

    def show_details(self):
        print(f"Account Holder: {self.account_holder}")
        print(f"Bank Name: {Bank.bank_name}")

# Example usage
acc1 = Bank("Ali")
acc2 = Bank("Sara")

acc1.show_details()
acc2.show_details()

Bank.change_bank_name("XYZ Bank")

acc1.show_details()
acc2.show_details()

Account Holder: Ali
Bank Name: ABC Bank
Account Holder: Sara
Bank Name: ABC Bank
Account Holder: Ali
Bank Name: XYZ Bank
Account Holder: Sara
Bank Name: XYZ Bank

5. Static Variables and Static Methods

In [20]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

# Example usage
result = MathUtils.add(5, 7)
print("Sum:", result)

Sum: 12

6. Constructors and Destructors

In [18]:
class Logger:
    def __init__(self):
        print("Logger initialized.")

    def __del__(self):
        print("Logger destroyed.")

# Example usage
log = Logger()
del log

Logger initialized.
Logger destroyed.

7. Access Modifiers: Public, Private, and Protected

In [17]:
class Employee:
    def __init__(self, name, salary, ssn):
        self.name = name            # public
        self._salary = salary       # protected
        self.__ssn = ssn            # private

    def show_info(self):
        print("Name:", self.name)
        print("Salary:", self._salary)
        print("SSN:", self.__ssn)

# Example usage
emp = Employee("Ali", 50000, "123-45-6789")

print(emp.name)         # Accessible (public)
print(emp._salary)      # Accessible (protected, but not recommended)
# print(emp.__ssn)      # Not accessible directly â€“ will raise AttributeError
print(emp._Employee__ssn)  # Accessing private variable using name mangling

Ali
50000
123-45-6789

8. The super() Function

In [16]:
class Person:
    def __init__(self, name):
        self.name = name

class Teacher(Person):
    def __init__(self, name, subject):
        super().__init__(name)
        self.subject = subject

    def display(self):
        print(f"Name: {self.name}")
        print(f"Subject: {self.subject}")

# Example usage
t1 = Teacher("Miss Sana", "Mathematics")
t1.display()

Name: Miss Sana
Subject: Mathematics

9. Abstract Classes and Methods

In [15]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

# Example usage
rect = Rectangle(5, 4)
print("Area of rectangle:", rect.area())

Area of rectangle: 20

10. Instance Methods

In [14]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print(f"{self.name} is barking!")

# Example usage
dog1 = Dog("Buddy", "Labrador")
dog1.bark()

Buddy is barking!

11. Class Methods

In [13]:
class Book:
    total_books = 0

    @classmethod
    def increment_book_count(cls):
        cls.total_books += 1

    def __init__(self, title):
        self.title = title
        Book.increment_book_count()

# Example usage
b1 = Book("Python 101")
b2 = Book("Learn AI")

print("Total books:", Book.total_books)

Total books: 2

12. Static Methods

In [12]:
class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32

# Example usage
temp_f = TemperatureConverter.celsius_to_fahrenheit(25)
print("Fahrenheit:", temp_f)

Fahrenheit: 77.0

13. Composition

In [11]:
class Engine:
    def start(self):
        print("Engine started.")

class Car:
    def __init__(self, engine):
        self.engine = engine

    def start_car(self):
        self.engine.start()

# Example usage
engine = Engine()
car = Car(engine)
car.start_car()

Engine started.

14. Aggregation

In [10]:
class Employee:
    def __init__(self, name):
        self.name = name

    def display(self):
        print(f"Employee Name: {self.name}")

class Department:
    def __init__(self, dept_name, employee):
        self.dept_name = dept_name
        self.employee = employee  # aggregation: reference to existing Employee

    def show_department(self):
        print(f"Department: {self.dept_name}")
        self.employee.display()

# Example usage
emp = Employee("Zain")
dept = Department("IT", emp)
dept.show_department()

Department: IT
Employee Name: Zain

15. Method Resolution Order (MRO) and Diamond Inheritance

In [9]:
class A:
    def show(self):
        print("Show method from class A")

class B(A):
    def show(self):
        print("Show method from class B")

class C(A):
    def show(self):
        print("Show method from class C")

class D(B, C):
    pass

# Example usage
d = D()
d.show()  # MRO will call B's show() first

Show method from class B

16. Function Decorators

In [8]:
def log_function_call(func):
    def wrapper():
        print("Function is being called")
        return func()
    return wrapper

@log_function_call
def say_hello():
    print("Hello!")

# Example usage
say_hello()

Function is being called
Hello!

17. Class Decorators

In [7]:
def add_greeting(cls):
    def greet(self):
        return "Hello from Decorator!"
    cls.greet = greet
    return cls

@add_greeting
class Person:
    def __init__(self, name):
        self.name = name

# Example usage
p = Person("Ali")
print(p.greet())

Hello from Decorator!

18. Property Decorators: @property, @setter, and @deleter

In [6]:
class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        return self._price

    @price.setter
    def price(self, value):
        if value >= 0:
            self._price = value
        else:
            print("Price cannot be negative")

    @price.deleter
    def price(self):
        del self._price

# Example usage
prod = Product(100)
print(prod.price)  # Get

prod.price = 150   # Set
print(prod.price)

prod.price = -50   # Invalid set

del prod.price     # Delete
# print(prod.price) # This will raise AttributeError if uncommented

100
150
Price cannot be negative


19. callable() and __call__()
Assignment:
Create a class Multiplier with an __init__() to set a factor. Define a __call__() method that multiplies an input by the factor. Test it with callable() and by calling the object like a function.

In [5]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, x):
        return x * self.factor

# Example usage
m = Multiplier(5)

print(callable(m))    # True, because __call__ is defined
print(m(10))          # 50 (10 * 5)

True
50

20. Creating a Custom Exception
Assignment:
Create a custom exception InvalidAgeError. Write a function check_age(age) that raises this exception if age < 18. Handle it with try...except.

In [4]:
class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age must be 18 or older.")

# Example usage
try:
    check_age(16)
except InvalidAgeError as e:
    print("Caught an exception:", e)

Caught an exception: Age must be 18 or older.

21. Make a Custom Class Iterable
Assignment:
Create a class Countdown that takes a start number. Implement __iter__() and __next__() to make the object iterable in a for-loop, counting down to 0.

In [3]:
class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        else:
            val = self.current
            self.current -= 1
            return val

# Example usage
for num in Countdown(5):
    print(num)

5
4
3
2
1
0